div#conteudo{
    display: flex;
    flex-direction: column;
    width: 63%;
    height: 100%;
    border-radius: 8px;
}

h1{
    margin-left: 340px;
}


h2{
    text-align: center;
    
}

p#txt{
    text-align: justify;
    margin-top: -10px;
    font-size: 18px;
    padding: 10px;
}

section#redes {
    display: flex;
    width: 15%;
    margin-left: 11%;
    margin-top: -5%;
}

section#redes img{
    padding: 5px;
    width: 5vh;
    height: 5vh;
}
