div#noticias{
    width: 68%;
    height: 100%;
    margin-top: 50px;
    margin-left: 250px;
}

p {
    text-align: justify;
    padding: 5px;
}
h1{
    text-align: left;
    padding: 5px;
 }

 a{
    text-decoration: none;
    color: black;
 }
 
 img{
     border-radius: 8px;
     margin-left: 10px;
 }

 iframe{
     width: 560px;
     height: 315px;
     margin-left: 150px;
 }