section#noticias{
    width: 68%;
    max-width: 800px;
    height: 100%;
}

p {
    text-align: justify;
    padding: 5px;
}
h1{
    text-align: left;
    padding: 5px;
 }

 a{
    text-decoration: none;
    color: black;
 }
 
 img{
     border-radius: 8px;
     margin-left: 10px;
 }

 iframe{
     width: 560px;
     height: 315px;
 }

 /* BREAKPOINT VIDEOS */
 @media screen and (max-width: 700px) {
    iframe{
        width: 460px;
        height: 180px;
    }
 }